## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
%matplotlib inline

## Importing the Dataset

In [2]:
df = pd.read_csv('D:/ML Lab 4/50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

## Dividing the dataset into X and y

In [4]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

## One Hot Encoding the Categorical variable state

In [5]:
ct = ColumnTransformer(transformers= [('encoder',OneHotEncoder(),[3])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

## Splitting dataset into training set and test set

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.2,random_state=0)

## Training the model

In [7]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting test set results

In [8]:
y_pred = regressor.predict(X_test)

## Checking Model Accuracy

In [9]:
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9347068473282364
83502864.03258514
7514.293659644146